﻿@model WebApp.Models.SHIPORDER
<!-- 弹出窗体form表单 -->
<div id="detailswindow" hidden="hidden" class="easyui-window"
     title="明细数据"
     data-options="modal:true,
                    closed:true,
                    maximized:false,
                    iconCls:'icon-more',
                    footer:'#windowfooter',
                    closeDuration:200,
                    closeAnimation:'slide',
                    openDuration:300,
                    openAnimation:'slide',
                    onBeforeClose:function(){
                      var that = $(this);
                      if(hasmodified()){
                        $.messager.confirm('确认','你确定要放弃保存修改的记录?',function(r){
                        if (r){
                          var opts = that.panel('options');
                          var onBeforeClose = opts.onBeforeClose;
                          opts.onBeforeClose = function(){};
                          that.panel('close');
                          opts.onBeforeClose = onBeforeClose;
                        }
                        });
                        return false;
                      }
                    },
                    onOpen:function(){
                       $(this).window('vcenter');
                       $(this).window('hcenter');
                    },
                    onRestore:function(){
                      $shiporderdetailsdg.datagrid('resize');
                    },
                    onMaximize:function(){
                      $shiporderdetailsdg.datagrid('resize');
                    }
                    " style="width:1420px;height:520px">
  <!-- begin toolbar -->
  <div class="window-body-toolbar">
    <div class="row">
      <div class="col-sm-8">
       
      </div>
      <div class="col-sm-4 text-align-right">
        <div class="btn-group btn-group-sm">
          <button type="button" class="btn   btn-success" onclick="closedetailwindow()">
            <i class="fa fa-chevron-left"></i>
            @Html.L("Close")
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- end toolbar -->
  <!-- begin window body -->
  <div class="widget-body">
    <form id="shiporder_form"
          class="easyui-form form-horizontal padding-10"
          method="post"
          data-options="novalidate:true,
                            onChange: function(target){
                              hasChanged = true;
                             },
                             onLoadSuccess:function(data){
                               hasChanged = false;
                             }">
      @Html.AntiForgeryToken()
      <!--Primary Key-->
      @Html.HiddenFor(model => model.ID)
      <!--发货单位-->
      @Html.HiddenFor(model => model.SHIPPERKEY)
      <!--发货单位名称-->
      @Html.HiddenFor(model => model.SHIPPERNAME)
      <!--收货单位-->
      @Html.HiddenFor(model => model.CONSIGNEEKEY)
      <!--收货单位名称-->
      @Html.HiddenFor(model => model.CONSIGNEENAME)
      <!--合计确认数量-->
      @Html.HiddenFor(model => model.TOTALSHIPPEDQTY)

      <!--标准里程(千米)-->
      <!--起始里程数(千米)-->
      @Html.HiddenFor(model => model.KM1)
      <!--结束里程数(千米)-->
      @Html.HiddenFor(model => model.KM2)
      <!--实际里程(千米)-->
      @Html.HiddenFor(model => model.ACTKM)
      <!--标准油耗(升)-->
      @Html.HiddenFor(model => model.STDOIL)
      <!--起始油量(升)-->
      @Html.HiddenFor(model => model.OIL1)
      <!--结束油量(升)-->
      @Html.HiddenFor(model => model.OIL2)
      <!--油耗(升)-->
      @Html.HiddenFor(model => model.ACTOIL)
      <!--额定载重(吨)-->
      @Html.HiddenFor(model => model.STDLOADWEIGHT)
      <!--额定体积(立方米)-->
      @Html.HiddenFor(model => model.STDLOADVOLUME)
      <!--收费吨位-->
      @Html.HiddenFor(model => model.FEELOADWEIGHT)
      <!--是否计算运费-->
      @Html.HiddenFor(model => model.CHECKEDCOST1)
      <!--是否送货上门-->
      @Html.HiddenFor(model => model.CHECKEDCOST2)
      <!--是否上楼-->
      @Html.HiddenFor(model => model.CHECKEDCOST3)
      <!--楼层-->
      @Html.HiddenFor(model => model.FLOOR)
      <!--是否加急-->
      @Html.HiddenFor(model => model.CHECKEDCOST4)
      <!--是否专车-->
      @Html.HiddenFor(model => model.CHECKEDCOST5)
      <!--是否其它服务-->
      @Html.HiddenFor(model => model.CHECKEDCOST6)
      <!--是否其它服务2-->
      @Html.HiddenFor(model => model.CHECKEDCOST7)
      <!--其它服务费2(RMB)-->
      @Html.HiddenFor(model => model.TOTALCOST7)
      <!--是否其它服务3-->
      @Html.HiddenFor(model => model.CHECKEDCOST8)
      <!--其它服务费3(RMB)-->
      @Html.HiddenFor(model => model.TOTALCOST8)
      <!--结算标志-->
      @Html.HiddenFor(model => model.FLAG1)
      <!--备注2-->
      @Html.HiddenFor(model => model.NOTES1)
      <!--其它标志-->
      @Html.HiddenFor(model => model.FLAG2)
      <!--所属公司-->
      @Html.HiddenFor(model => model.COMPANYCODE)
      @Html.HiddenFor(model => model.GROSSMARGINS)
      @Html.HiddenFor(model => model.GROSSMARGINSRATE)
      @Html.HiddenFor(model => model.TOTALSERVICECOST)
      @Html.HiddenFor(model => model.STDTOLL)
      
      <!--LOTTABLE2-->
      @Html.HiddenFor(model => model.LOTTABLE2)
      <!--LOTTABLE3-->
      @Html.HiddenFor(model => model.LOTTABLE3)
      <!--LOTTABLE4-->
      @Html.HiddenFor(model => model.LOTTABLE4)
      <!--LOTTABLE5-->
      @Html.HiddenFor(model => model.LOTTABLE5)
      <!--LOTTABLE6-->
      @Html.HiddenFor(model => model.LOTTABLE6)
      <!--LOTTABLE7-->
      @Html.HiddenFor(model => model.LOTTABLE7)
      <!--LOTTABLE8-->
      @Html.HiddenFor(model => model.LOTTABLE8)
      <fieldset>
        <!-- begin row -->
        <!--运单号-->
        <div class="form-group  col-md-3">
          <label class="col-md-3 control-label"><span class="required">@Html.DisplayNameFor(model => model.SHIPORDERKEY)</span></label>
          <div class="col-md-9">
            <input id="@Html.IdFor(model => model.SHIPORDERKEY)"
                   name="@Html.NameFor(model => model.SHIPORDERKEY)"
                   value="@Html.ValueFor(model => model.SHIPORDERKEY)"
                   tabindex="0" required
                   class="easyui-textbox"
                   style="width:100%"
                   type="text"
                   data-options="prompt:'@Html.DisplayNameFor(model => model.SHIPORDERKEY)',
								 required:true,readonly:true,
                                 validType: 'length[0,20]'
                                 " />
          </div>
        </div>
        <!--对账单号-->
        <div class="form-group  col-md-3">
          <label class="col-md-3 control-label">@Html.DisplayNameFor(model => model.EXTERNSHIPORDERKEY)</label>
          <div class="col-md-9">
            <input id="@Html.IdFor(model => model.EXTERNSHIPORDERKEY)"
                   name="@Html.NameFor(model => model.EXTERNSHIPORDERKEY)"
                   value="@Html.ValueFor(model => model.EXTERNSHIPORDERKEY)"
                   tabindex="1"
                   class="easyui-textbox"
                   style="width:100%"
                   type="text"
                   data-options="prompt:'@Html.DisplayNameFor(model => model.EXTERNSHIPORDERKEY)',
								 required:false,
                                 validType: 'length[0,50]'
                                 " />
          </div>
        </div>
        <!--接单日期-->
        <div class="form-group  col-md-3">
          <label class="col-md-3 control-label"><span class="required">@Html.DisplayNameFor(model => model.SHIPORDERDATE)</span></label>
          <div class="col-md-9">
            <input id="@Html.IdFor(model => model.SHIPORDERDATE)"
                   name="@Html.NameFor(model => model.SHIPORDERDATE)"
                   value="@Html.ValueFor(model => model.SHIPORDERDATE)"
                   tabindex="2" required
                   class="easyui-datebox"
                   style="width:100%"
                   type="text"
                   data-options="prompt:'@Html.DisplayNameFor(model => model.SHIPORDERDATE)',
								 required:true,
								 formatter:dateformatter" />
          </div>
        </div>
        <!--状态-->
        <div class="form-group  col-md-3">
          <label class="col-md-3 control-label"><span class="required">@Html.DisplayNameFor(model => model.STATUS)</span></label>
          <div class="col-md-9">
            <input id="@Html.IdFor(model => model.STATUS)"
                   name="@Html.NameFor(model => model.STATUS)"
                   value="@Html.ValueFor(model => model.STATUS)"
                   tabindex="3" required
                   class="easyui-combobox"
                   style="width:100%"
                   type="text"
                   data-options="prompt:'@Html.DisplayNameFor(model => model.STATUS)',
								 required:true,readonly:true,
                                data:shipstatusdatasource
                                 " />
          </div>
        </div>
        <!--end row-->
        <!-- begin row -->
        <!--运输方式(正常/加急/退运)-->
        <div class="form-group  col-md-3">
          <label class="col-md-3 control-label">@Html.DisplayNameFor(model => model.TYPE)</label>
          <div class="col-md-9">
            <input id="@Html.IdFor(model => model.TYPE)"
                   name="@Html.NameFor(model => model.TYPE)"
                   value="@Html.ValueFor(model => model.TYPE)"
                   tabindex="4"
                   class="easyui-combobox"
                   style="width:100%"
                   type="text"
                   data-options="prompt:'@Html.DisplayNameFor(model => model.TYPE)',
								 required:false, data:shiptypedatasource
                                 " />
          </div>
        </div>
        <!--计费方式-->
        <div class="form-group  col-md-3">
          <label class="col-md-3 control-label">@Html.DisplayNameFor(model => model.SHPTYPE)</label>
          <div class="col-md-9">
            <input id="@Html.IdFor(model => model.SHPTYPE)"
                   name="@Html.NameFor(model => model.SHPTYPE)"
                   value="@Html.ValueFor(model => model.SHPTYPE)"
                   tabindex="4"
                   class="easyui-combobox"
                   style="width:100%"
                   type="text"
                   data-options="prompt:'@Html.DisplayNameFor(model => model.SHPTYPE)',
								 required:false, data:shptypedatasource,readonly:true
                                 " />
          </div>
        </div>
        <!--起始地-->
        <div class="form-group  col-md-3">
          <label class="col-md-3 control-label"><span class="required">@Html.DisplayNameFor(model => model.ORIGINAL)</span></label>
          <div class="col-md-9">
            <input id="@Html.IdFor(model => model.ORIGINAL)"
                   name="@Html.NameFor(model => model.ORIGINAL)"
                   value="@Html.ValueFor(model => model.ORIGINAL)"
                   tabindex="5" required
                   class="easyui-combobox"
                   style="width:100%"
                   type="text"
                   data-options="prompt:'@Html.DisplayNameFor(model => model.ORIGINAL)',
								 required:true,
                                 validType: 'length[0,50]',
              method: 'get',
              valueField: 'Name',
              textField: 'Name'
                                 " />
          </div>
        </div>
        <!--目的地-->
        <div class="form-group  col-md-3">
          <label class="col-md-3 control-label"><span class="required">@Html.DisplayNameFor(model => model.DESTINATION)</span></label>
          <div class="col-md-9">
            <input id="@Html.IdFor(model => model.DESTINATION)"
                   name="@Html.NameFor(model => model.DESTINATION)"
                   value="@Html.ValueFor(model => model.DESTINATION)"
                   tabindex="6" required
                   class="easyui-combobox"
                   style="width:100%"
                   type="text"
                   data-options="prompt:'@Html.DisplayNameFor(model => model.DESTINATION)',
								 required:true,
                                 validType: 'length[0,50]',
                   method: 'get',
              valueField: 'Name',
              textField: 'Name'
                                 " />
          </div>
        </div>
        <!--运输车辆-->
        <div class="form-group  col-md-3">
          <label class="col-md-3 control-label"><span class="required">@Html.DisplayNameFor(model => model.PLATENUMBER)</span></label>
          <div class="col-md-9">
            <input id="@Html.IdFor(model => model.PLATENUMBER)"
                   name="@Html.NameFor(model => model.PLATENUMBER)"
                   value="@Html.ValueFor(model => model.PLATENUMBER)"
                   tabindex="7" required
                   class="easyui-combogrid"
                   style="width:100%"
                   type="text"
                   data-options="prompt:'@Html.DisplayNameFor(model => model.PLATENUMBER)',
								                 required:true,
                                 validType: 'carNo',
                   panelHeight: 'auto',
        method: 'get',
        idField: 'PlateNumber',
        panelWidth: 420,
        pagination: true,
        pageSize: 10,
        textField: 'PlateNumber',
        columns: [[
          { field: 'PlateNumber', title: '车牌号', width: 100 },
          { field: 'CarType', title: '车型', width: 90 },
          { field: 'Driver', title: '司机', width: 90 },
          { field: 'DriverPhone', title: '司机电话', width: 100 },
          { field: 'CarrierName', title: '承运商', width: 160 },
          { field: 'StdLoadWeight', title: '吨位', width: 70 },
        ]],
         onClickRow: function (i,r) {
         console.log(i,r);
                   $('#DRIVERNAME').textbox('setValue',r.Driver);
                   $('#DRIVERPHONE').textbox('setValue',r.DriverPhone);
                   $('#CARRIERCODE').textbox('setValue',r.CarrierCode);
                    $('#CARRIERNAME').textbox('setValue',r.CarrierName);

        }
                                 " />
          </div>
        </div>
        <!--end row-->
        <!-- begin row -->
        <!--司机-->
        <div class="form-group  col-md-3">
          <label class="col-md-3 control-label">@Html.DisplayNameFor(model => model.DRIVERNAME)</label>
          <div class="col-md-9">
            <input id="@Html.IdFor(model => model.DRIVERNAME)"
                   name="@Html.NameFor(model => model.DRIVERNAME)"
                   value="@Html.ValueFor(model => model.DRIVERNAME)"
                   tabindex="8"
                   class="easyui-textbox"
                   style="width:100%"
                   type="text"
                   data-options="prompt:'@Html.DisplayNameFor(model => model.DRIVERNAME)',
								 required:false,
                                 validType: 'length[0,20]'
                                 " />
          </div>
        </div>
        <!--司机电话-->
        <div class="form-group  col-md-3">
          <label class="col-md-3 control-label">@Html.DisplayNameFor(model => model.DRIVERPHONE)</label>
          <div class="col-md-9">
            <input id="@Html.IdFor(model => model.DRIVERPHONE)"
                   name="@Html.NameFor(model => model.DRIVERPHONE)"
                   value="@Html.ValueFor(model => model.DRIVERPHONE)"
                   tabindex="9"
                   class="easyui-textbox"
                   style="width:100%"
                   type="text"
                   data-options="prompt:'@Html.DisplayNameFor(model => model.DRIVERPHONE)',
								 required:false,
                                 validType: 'length[0,20]'
                                 " />
          </div>
        </div>
        <!--承运人代码-->
        <div class="form-group  col-md-3">
          <label class="col-md-3 control-label">@Html.DisplayNameFor(model => model.CARRIERCODE)</label>
          <div class="col-md-9">
            <input id="@Html.IdFor(model => model.CARRIERCODE)"
                   name="@Html.NameFor(model => model.CARRIERCODE)"
                   value="@Html.ValueFor(model => model.CARRIERCODE)"
                   tabindex="10"
                   class="easyui-combogrid"
                   style="width:100%"
                   type="text"
                   data-options="prompt:'@Html.DisplayNameFor(model => model.CARRIERCODE)',
								 required:false,
                                 validType: 'length[0,20]',
                   panelHeight: 'auto',
        method: 'get',
        idField: 'Code',
        panelWidth: 360,
        pagination: true,
        pageSize: 10,
        textField: 'Code',
        columns: [[
          { field: 'Code', title: '承运人代码', width: 110 },
          { field: 'Name', title: '承运人名称', width: 230 }
        ]],
         onClickRow: function (i,r) {
         console.log(i,r);
                   $('#CARRIERNAME').textbox('setValue',r.Name);

        }
                                 " />
          </div>
        </div>
        <!--承运人名称-->
        <div class="form-group  col-md-3">
          <label class="col-md-3 control-label">@Html.DisplayNameFor(model => model.CARRIERNAME)</label>
          <div class="col-md-9">
            <input id="@Html.IdFor(model => model.CARRIERNAME)"
                   name="@Html.NameFor(model => model.CARRIERNAME)"
                   value="@Html.ValueFor(model => model.CARRIERNAME)"
                   tabindex="11"
                   class="easyui-textbox"
                   style="width:100%"
                   type="text"
                   data-options="prompt:'@Html.DisplayNameFor(model => model.CARRIERNAME)',
								 required:false,
                                 validType: 'length[0,80]'
                                 " />
          </div>
        </div>
        <!--end row-->
        <!-- begin row -->
        <!--发货地址-->
        <div class="form-group  col-md-3">
          <label class="col-md-3 control-label">@Html.DisplayNameFor(model => model.SHIPPERADDRESS)</label>
          <div class="col-md-9">
            <input id="@Html.IdFor(model => model.SHIPPERADDRESS)"
                   name="@Html.NameFor(model => model.SHIPPERADDRESS)"
                   value="@Html.ValueFor(model => model.SHIPPERADDRESS)"
                   tabindex="12"
                   class="easyui-textbox"
                   style="width:100%"
                   type="text"
                   data-options="prompt:'@Html.DisplayNameFor(model => model.SHIPPERADDRESS)',
								 required:false,
                                 validType: 'length[0,180]'
                                 " />
          </div>
        </div>
        <!--收货地址-->
        <div class="form-group  col-md-3">
          <label class="col-md-3 control-label">@Html.DisplayNameFor(model => model.CONSIGNEEADDRESS)</label>
          <div class="col-md-9">
            <input id="@Html.IdFor(model => model.CONSIGNEEADDRESS)"
                   name="@Html.NameFor(model => model.CONSIGNEEADDRESS)"
                   value="@Html.ValueFor(model => model.CONSIGNEEADDRESS)"
                   tabindex="13"
                   class="easyui-textbox"
                   style="width:100%"
                   type="text"
                   data-options="prompt:'@Html.DisplayNameFor(model => model.CONSIGNEEADDRESS)',
								 required:false,
                                 validType: 'length[0,180]'
                                 " />
          </div>
        </div>
        <!--要求配送日期-->
        <div class="form-group  col-md-3">
          <label class="col-md-3 control-label">@Html.DisplayNameFor(model => model.REQUESTEDSHIPDATE)</label>
          <div class="col-md-9">
            <input id="@Html.IdFor(model => model.REQUESTEDSHIPDATE)"
                   name="@Html.NameFor(model => model.REQUESTEDSHIPDATE)"
                   value="@Html.ValueFor(model => model.REQUESTEDSHIPDATE)"
                   tabindex="14"
                   class="easyui-datebox"
                   style="width:100%"
                   type="text"
                   data-options="prompt:'@Html.DisplayNameFor(model => model.REQUESTEDSHIPDATE)',
								 required:false,
								 formatter:dateformatter" />
          </div>
        </div>
        <!--实际配送日期-->
        <div class="form-group  col-md-3">
          <label class="col-md-3 control-label">@Html.DisplayNameFor(model => model.ACTUALSHIPDATE)</label>
          <div class="col-md-9">
            <input id="@Html.IdFor(model => model.ACTUALSHIPDATE)"
                   name="@Html.NameFor(model => model.ACTUALSHIPDATE)"
                   value="@Html.ValueFor(model => model.ACTUALSHIPDATE)"
                   tabindex="15"
                   class="easyui-datebox"
                   style="width:100%"
                   type="text"
                   data-options="prompt:'@Html.DisplayNameFor(model => model.ACTUALSHIPDATE)',
								 required:false,
								 formatter:dateformatter" />
          </div>
        </div>
        <!--end row-->
        <!-- begin row -->
        <!--要求到货时间-->
        <div class="form-group  col-md-3">
          <label class="col-md-3 control-label">@Html.DisplayNameFor(model => model.DELIVERYDATE)</label>
          <div class="col-md-9">
            <input id="@Html.IdFor(model => model.DELIVERYDATE)"
                   name="@Html.NameFor(model => model.DELIVERYDATE)"
                   value="@Html.ValueFor(model => model.DELIVERYDATE)"
                   tabindex="16"
                   class="easyui-datebox"
                   style="width:100%"
                   type="text"
                   data-options="prompt:'@Html.DisplayNameFor(model => model.DELIVERYDATE)',
								 required:false,
								 formatter:dateformatter" />
          </div>
        </div>
        <!--实际到货时间-->
        <div class="form-group  col-md-3">
          <label class="col-md-3 control-label">@Html.DisplayNameFor(model => model.ACTUALDELIVERYDATE)</label>
          <div class="col-md-9">
            <input id="@Html.IdFor(model => model.ACTUALDELIVERYDATE)"
                   name="@Html.NameFor(model => model.ACTUALDELIVERYDATE)"
                   value="@Html.ValueFor(model => model.ACTUALDELIVERYDATE)"
                   tabindex="17"
                   class="easyui-datebox"
                   style="width:100%"
                   type="text"
                   data-options="prompt:'@Html.DisplayNameFor(model => model.ACTUALDELIVERYDATE)',
								 required:false,
								 formatter:dateformatter" />
          </div>
        </div>
        <!--结案日期-->
        <div class="form-group  col-md-3">
          <label class="col-md-3 control-label">@Html.DisplayNameFor(model => model.CLOSEDDATE)</label>
          <div class="col-md-9">
            <input id="@Html.IdFor(model => model.CLOSEDDATE)"
                   name="@Html.NameFor(model => model.CLOSEDDATE)"
                   value="@Html.ValueFor(model => model.CLOSEDDATE)"
                   tabindex="18"
                   class="easyui-datebox"
                   style="width:100%"
                   type="text"
                   data-options="prompt:'@Html.DisplayNameFor(model => model.CLOSEDDATE)',
								 required:false,
								 formatter:dateformatter" />
          </div>
        </div>
        <!--调度-->
        <div class="form-group  col-md-3">
          <label class="col-md-3 control-label">调度员</label>
          <div class="col-md-9">
            <input id="@Html.IdFor(model => model.LOTTABLE1)"
                   name="@Html.NameFor(model => model.LOTTABLE1)"
                   value="@Html.ValueFor(model => model.LOTTABLE1)"
                   tabindex="18"
                   class="easyui-textbox"
                   style="width:100%"
                   type="text"
                   data-options="prompt:'@Html.DisplayNameFor(model => model.LOTTABLE1)',
								 required:false,readonly:true
								  " />
          </div>
        </div>
      </fieldset>
      <fieldset>
        <!--合计发运数量-->
        <div class="form-group  col-md-3">
          <label class="col-md-3 control-label"><span class="required">@Html.DisplayNameFor(model => model.TOTALQTY)</span></label>
          <div class="col-md-9">
            <input id="@Html.IdFor(model => model.TOTALQTY)"
                   name="@Html.NameFor(model => model.TOTALQTY)"
                   value="@Html.ValueFor(model => model.TOTALQTY)"
                   tabindex="19"
                   class="easyui-numberbox"
                   style="width:100%"
                   type="text"
                   data-options="prompt:'@Html.DisplayNameFor(model => model.TOTALQTY)',
								 required:true,
                                 precision:2,
                                 validType:'decimal',

                                 " />

          </div>
        </div>
        <!--end row-->
        <!-- begin row -->
        <!--合计件数-->
        <div class="form-group  col-md-3">
          <label class="col-md-3 control-label">@Html.DisplayNameFor(model => model.TOTALCASECNT)</label>
          <div class="col-md-9">
            <input id="@Html.IdFor(model => model.TOTALCASECNT)"
                   name="@Html.NameFor(model => model.TOTALCASECNT)"
                   value="@Html.ValueFor(model => model.TOTALCASECNT)"
                   tabindex="20"
                   class="easyui-numberbox"
                   style="width:100%"
                   type="text"
                   data-options="prompt:'@Html.DisplayNameFor(model => model.TOTALCASECNT)',
								 required:false,
                                 precision:2,
                                 validType:'decimal',

                                 " />

          </div>
        </div>
        <!--合计毛重(KG)-->
        <div class="form-group  col-md-3">
          <label class="col-md-3 control-label">@Html.DisplayNameFor(model => model.TOTALGROSSWGT)</label>
          <div class="col-md-9">
            <input id="@Html.IdFor(model => model.TOTALGROSSWGT)"
                   name="@Html.NameFor(model => model.TOTALGROSSWGT)"
                   value="@Html.ValueFor(model => model.TOTALGROSSWGT)"
                   tabindex="21"
                   class="easyui-numberbox"
                   style="width:100%"
                   type="text"
                   data-options="prompt:'@Html.DisplayNameFor(model => model.TOTALGROSSWGT)',
								 required:false,
                                 precision:2,
                                 validType:'decimal',

                                 " />

          </div>
        </div>
        <!--合计体积(M)-->
        <div class="form-group  col-md-3">
          <label class="col-md-3 control-label">@Html.DisplayNameFor(model => model.TOTALCUBE)</label>
          <div class="col-md-9">
            <input id="@Html.IdFor(model => model.TOTALCUBE)"
                   name="@Html.NameFor(model => model.TOTALCUBE)"
                   value="@Html.ValueFor(model => model.TOTALCUBE)"
                   tabindex="21"
                   class="easyui-numberbox"
                   style="width:100%"
                   type="text"
                   data-options="prompt:'@Html.DisplayNameFor(model => model.TOTALCUBE)',
								 required:false,
                                 precision:2,
                                 validType:'decimal',

                                 " />

          </div>
        </div>
        <!--重量装载率-->
        <div class="form-group  col-md-3">
          <label class="col-md-3 control-label"><span class="required">@Html.DisplayNameFor(model => model.LOADFACTOR1)</span></label>
          <div class="col-md-9">
            <div class="progress" style="margin-bottom:0px;height:25px">
              <div id="dynamic1" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;line-height:25px">
                <span id="current-progress"></span>
              </div>
            </div>
          </div>
          <div class="col-md-9" style="display:none">

            <input id="@Html.IdFor(model => model.LOADFACTOR1)"
                   name="@Html.NameFor(model => model.LOADFACTOR1)"
                   value="@Html.ValueFor(model => model.LOADFACTOR1)"
                   tabindex="22"
                   class="easyui-numberbox"
                   style="width:100%"
                   type="text"
                   data-options="prompt:'@Html.DisplayNameFor(model => model.LOADFACTOR1)',
								 required:true,
                                 precision:2,
                                 readonly:true

                                 " />

          </div>
        </div>
        <!--体积装载率-->
        <div class="form-group  col-md-3">
          <label class="col-md-3 control-label"><span class="required">@Html.DisplayNameFor(model => model.LOADFACTOR2)</span></label>
          <div class="col-md-9">
            <div class="progress" style="margin-bottom:0px;height:25px">
              <div id="dynamic2" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;;line-height:25px">
                <span id="current-progress"></span>
              </div>
            </div>
          </div>
          <div class="col-md-9" style="display:none">
            <input id="@Html.IdFor(model => model.LOADFACTOR2)"
                   name="@Html.NameFor(model => model.LOADFACTOR2)"
                   value="@Html.ValueFor(model => model.LOADFACTOR2)"
                   tabindex="23"
                   class="easyui-numberbox"
                   style="width:100%"
                   type="text"
                   data-options="prompt:'@Html.DisplayNameFor(model => model.LOADFACTOR2)',
								 required:true,
                                 precision:2,
                                 readonly:true

                                 " />

          </div>
        </div>
        <!--标准公里数-->
        <div class="form-group  col-md-3">
          <label class="col-md-3 control-label"><span class="required">@Html.DisplayNameFor(model => model.STDKM)</span></label>
          <div class="col-md-9">
            <input id="@Html.IdFor(model => model.STDKM)"
                   name="@Html.NameFor(model => model.STDKM)"
                   value="@Html.ValueFor(model => model.STDKM)"
                   tabindex="24"
                   class="easyui-numberbox"
                   style="width:100%"
                   type="text"
                   data-options="prompt:'@Html.DisplayNameFor(model => model.STDKM)',
								                 required:true,
                                 precision:2,
                                 " />

          </div>
        </div>
        <!--标准运输成本-->
        <div class="form-group  col-md-3">
          <label class="col-md-3 control-label"><span class="required">@Html.DisplayNameFor(model => model.STDCOST)</span></label>
          <div class="col-md-9">
            <input id="@Html.IdFor(model => model.STDCOST)"
                   name="@Html.NameFor(model => model.STDCOST)"
                   value="@Html.ValueFor(model => model.STDCOST)"
                   tabindex="24"
                   class="easyui-numberbox"
                   style="width:100%"
                   type="text"
                   data-options="prompt:'@Html.DisplayNameFor(model => model.STDCOST)',
								                 required:true,
                                 precision:2,
                                 " />

          </div>
        </div>
        <!--end row-->
        <!-- begin row -->
        <!--合计运费-->
        <div class="form-group  col-md-3">
          <label class="col-md-3 control-label"><span class="required">@Html.DisplayNameFor(model => model.TOTALCOST1)</span></label>
          <div class="col-md-9">
            <input id="@Html.IdFor(model => model.TOTALCOST1)"
                   name="@Html.NameFor(model => model.TOTALCOST1)"
                   value="@Html.ValueFor(model => model.TOTALCOST1)"
                   tabindex="24"
                   class="easyui-numberbox"
                   style="width:100%"
                   type="text"
                   data-options="prompt:'@Html.DisplayNameFor(model => model.TOTALCOST1)',
								 required:true,
                                 precision:2,
                                 validType:'decimal',

                                 " />

          </div>
        </div>
        <!--送货费(RMB)-->
        <div class="form-group  col-md-3">
          <label class="col-md-3 control-label"><span class="required">@Html.DisplayNameFor(model => model.TOTALCOST2)</span></label>
          <div class="col-md-9">
            <input id="@Html.IdFor(model => model.TOTALCOST2)"
                   name="@Html.NameFor(model => model.TOTALCOST2)"
                   value="@Html.ValueFor(model => model.TOTALCOST2)"
                   tabindex="25"
                   class="easyui-numberbox"
                   style="width:100%"
                   type="text"
                   data-options="prompt:'@Html.DisplayNameFor(model => model.TOTALCOST2)',
								 required:true,
                                 precision:2,
                                 validType:'decimal',

                                 " />

          </div>
        </div>
        <!--搬运费(RMB)-->
        <div class="form-group  col-md-3">
          <label class="col-md-3 control-label"><span class="required">@Html.DisplayNameFor(model => model.TOTALCOST3)</span></label>
          <div class="col-md-9">
            <input id="@Html.IdFor(model => model.TOTALCOST3)"
                   name="@Html.NameFor(model => model.TOTALCOST3)"
                   value="@Html.ValueFor(model => model.TOTALCOST3)"
                   tabindex="26"
                   class="easyui-numberbox"
                   style="width:100%"
                   type="text"
                   data-options="prompt:'@Html.DisplayNameFor(model => model.TOTALCOST3)',
								 required:true,
                                 precision:2,
                                 validType:'decimal',

                                 " />

          </div>
        </div>
        <!--加急费(RMB)-->
        <div class="form-group  col-md-3">
          <label class="col-md-3 control-label"><span class="required">@Html.DisplayNameFor(model => model.TOTALCOST4)</span></label>
          <div class="col-md-9">
            <input id="@Html.IdFor(model => model.TOTALCOST4)"
                   name="@Html.NameFor(model => model.TOTALCOST4)"
                   value="@Html.ValueFor(model => model.TOTALCOST4)"
                   tabindex="27"
                   class="easyui-numberbox"
                   style="width:100%"
                   type="text"
                   data-options="prompt:'@Html.DisplayNameFor(model => model.TOTALCOST4)',
								 required:true,
                                 precision:2,
                                 validType:'decimal',

                                 " />

          </div>
        </div>
        <!--end row-->
        <!-- begin row -->
        <!--专车费(RMB)-->
        <div class="form-group  col-md-3">
          <label class="col-md-3 control-label"><span class="required">@Html.DisplayNameFor(model => model.TOTALCOST5)</span></label>
          <div class="col-md-9">
            <input id="@Html.IdFor(model => model.TOTALCOST5)"
                   name="@Html.NameFor(model => model.TOTALCOST5)"
                   value="@Html.ValueFor(model => model.TOTALCOST5)"
                   tabindex="28"
                   class="easyui-numberbox"
                   style="width:100%"
                   type="text"
                   data-options="prompt:'@Html.DisplayNameFor(model => model.TOTALCOST5)',
								 required:true,
                                 precision:2,
                                 validType:'decimal',

                                 " />

          </div>
        </div>
        <!--其它服务费(RMB)-->
        <div class="form-group  col-md-3">
          <label class="col-md-3 control-label"><span class="required">@Html.DisplayNameFor(model => model.TOTALCOST6)</span></label>
          <div class="col-md-9">
            <input id="@Html.IdFor(model => model.TOTALCOST6)"
                   name="@Html.NameFor(model => model.TOTALCOST6)"
                   value="@Html.ValueFor(model => model.TOTALCOST6)"
                   tabindex="29"
                   class="easyui-numberbox"
                   style="width:100%"
                   type="text"
                   data-options="prompt:'@Html.DisplayNameFor(model => model.TOTALCOST6)',
								 required:true,
                                 precision:2,
                                 validType:'decimal',

                                 " />

          </div>
        </div>
        <!--备注-->
        <div class="form-group  col-md-3">
          <label class="col-md-3 control-label">@Html.DisplayNameFor(model => model.NOTES)</label>
          <div class="col-md-9">
            <input id="@Html.IdFor(model => model.NOTES)"
                   name="@Html.NameFor(model => model.NOTES)"
                   value="@Html.ValueFor(model => model.NOTES)"
                   tabindex="30"
                   class="easyui-textbox"
                   style="width:100%"
                   type="text"
                   data-options="prompt:'@Html.DisplayNameFor(model => model.NOTES)',
								 required:false,
                                 validType: 'length[0,180]'
                                 " />
          </div>
        </div>
        <!--end row-->
      </fieldset>
    </form>

    <!--end form表单界面-->
    <!--========================================================================================-->
    <!-- begin details row -->
    <div class="row" style="margin:0px;">
      <div class="col-md-12">
        <!-- details tabs -->
        <div class="tabs-container">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs bordered">
            <li class="active"><a data-toggle="tab" href="#tab-shiporderdetails"> 派车单明细 </a></li>

          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div id="tab-shiporderdetails" class="tab-pane active">
        
              <div class="table-responsive">
                <table id="shiporderdetails_datagrid"></table>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end details tabs -->
  </div>
  <!--end window body -->
</div>
<div id="windowfooter" style="padding:5px;">&nbsp;</div>
<!-- 弹出窗体form表单 -->
<!-- 弹出编辑对话框 -->
<!-- shiporderdetail datagrid  javascript block -->
<!--begin popup detailview javascript block -->
<script type="text/javascript">
    //判断新增编辑状态
    var MODELSTATE = 'Added';
    var shiporderid = null;
    var hasChanged = false;
  function opendetailwindow(data, state) {
    MODELSTATE = state;
    initdetailview();
    shiporderid = (data.ID || 0);
    $("#detailswindow").window("open");
    $('#shiporder_form').form('reset');
    $('#shiporder_form').form('load', data);
    $('#shiporder_form').form('disable', true);
    var p1 = (data.LOADFACTOR1 * 100).toFixed();
    var p2 = (data.LOADFACTOR2 * 100).toFixed();
    $("#dynamic1")
      .css("width", (p1 > 100 ? 100 : p1) + "%")
      .attr("aria-valuenow", p1)
      .text(p1 + "%");
    $("#dynamic2")
      .css("width", (p2 > 100 ? 100 : p2) + "%")
      .attr("aria-valuenow", p2)
      .text(p2 + "%");
    if (p1 > 95) {
      $("#dynamic1").removeClass('progress-bar-success').addClass('progress-bar-danger')
    } else {
      $("#dynamic1").removeClass('progress-bar-danger')
    }
    if (p2 > 95) {
      $("#dynamic2").removeClass('progress-bar-success').addClass('progress-bar-danger')

    } else {
      $("#dynamic2").removeClass('progress-bar-danger')
    }
    var url = '/SHIPORDERDETAILS/GetDataBySHIPORDERIDAsync?shiporderid=' + shiporderid;
    $shiporderdetailsdg.datagrid('load', url);
    $shiporderdetailsdg.datagrid('resize');
    url = '/LocBases/GetComboData';
    $('#ORIGINAL').combobox('reload', url);
    $('#DESTINATION').combobox('reload', url);
    url = '/Companies/GetComboData';
    $('#CARRIERCODE').combogrid('grid').datagrid('load', url);
    url = '/Vehicles/GetComboData';
    $('#PLATENUMBER').combogrid('grid').datagrid('load', url);
  }
  //删除当前记录
  function deleteitem() {
    $.messager.confirm('确认', '你确定要删除该记录?', result => {
      if (result) {
        const url = `/SHIPORDERs/DeleteAsync/${shiporderid}`;
        $.get(url).done(res => {
          if (res.success) {
            toastr.success("删除成功");
            $dg.datagrid('reload');
            $("#detailswindow").window("close");
          } else {
            $.messager.alert("错误", res.err, "error");
          }
        });
      }
    });
  }
    
    //关闭窗口
    function closedetailwindow() {
        $('#detailswindow').window('close');
    }
    //todo
    function todo() {
         console.log('todo.....');
    }
     //判断是否有没有保存的记录
     function hasmodified() {
      if(hasChanged) return hasChanged;
            if (!shiporderdetails_endEditing()) {
                 return true;
             }
            const shiporderdetails = $shiporderdetailsdg.datagrid("getChanges");
            if (MODELSTATE == 'Modified' && shiporderdetails.length > 0) {
                return true;
            }
            return false;

     }


function initdetailview() {
  //判断是否显示功能按钮
  if (MODELSTATE === 'Added') {
    $('#deleteitem-btn-group').hide();
  } else {
    $('#deleteitem-btn-group').show();
  }
    $('a[data-toggle="tab"]').on('shown.bs.tab', e => {
        const target = $(e.target).attr("href");
                if(target === "#tab-shiporderdetails")
             $shiporderdetailsdg.datagrid("resize");
            });

 
}
</script>

