@model WebApp.Models.SHIPORDERDETAIL
@{
	ViewBag.Title = "派车单明细";
}
<!-- MAIN CONTENT -->
<div id="content">
    <!-- quick navigation bar -->
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-table fa-fw "></i>
                业务操作
                <span>
                    >
                  派车单明细
                </span>
            </h1>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
            
        </div>
    </div>
    <!-- end quick navigation bar -->
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"
                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>派车单明细</h2>
                    </header>

                     <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <div class="sk-spinner sk-spinner-wave">
                              <div class="sk-rect1"></div>
                              <div class="sk-rect2"></div>
                              <div class="sk-rect3"></div>
                              <div class="sk-rect4"></div>
                              <div class="sk-rect5"></div>
                            </div>
                            <div class="widget-body-toolbar">
                                <div class="row">
                                    <div class="col-sm-8  ">
                                        <!-- 开启授权控制请参考 @@if (Html.IsAuthorize("Create") -->
                                        <div class="btn-group btn-group-sm">
                                            <button onclick="append()" class="btn btn-default"> <i class="fa fa-plus"></i> @Html.L("Add") </button>
                                        </div>
                                        <div class="btn-group btn-group-sm">
                                            <button onclick="removeit()" class="btn btn-default"> <i class="fa fa-trash-o"></i> @Html.L("Delete") </button>
                                        </div>
                                        <div class="btn-group btn-group-sm">
                                            <button onclick="accept()" class="btn btn-default"> <i class="fa fa-floppy-o"></i> @Html.L("Save") </button>
                                        </div>
                                        <div class="btn-group btn-group-sm">
                                            <button onclick="reject()" class="btn btn-default"> <i class="fa fa-ban"></i> @Html.L("Cancel") </button>
                                        </div>
                                        <div class="btn-group btn-group-sm">
                                            <button onclick="reload()" class="btn btn-default"> <i class="fa fa-refresh"></i> @Html.L("Refresh") </button>
                                        </div>
                                        <div class="btn-group btn-group-sm hidden-xs">
                                            <button type="button" onclick="importexcel()" class="btn btn-default"><i class="fa fa-cloud-upload"></i> @Html.L("Import") </button>
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="javascript:importexcel()"><i class="fa fa-file-excel-o"></i>  @Html.L("Upload") </a></li>
                                                <li role="separator" class="divider"></li>
                                                <li><a href="javascript:downloadtemplate()"><i class="fa fa-download"></i> @Html.L("Download") </a></li>
                                            </ul>
                                        </div>
                                        <div class="btn-group btn-group-sm hidden-xs hidden-md">
                                            <button onclick="exportexcel()" class="btn btn-default"> <i class="fa fa-file-excel-o"></i> @Html.L("Export") </button>
                                        </div>
                                        <div class="btn-group btn-group-sm visible-lg-inline-block">
                                            <button onclick="print()" class="btn btn-default"> <i class="fa fa-print"></i> @Html.L("Print") </button>
                                        </div>
                                        <div class="btn-group btn-group-sm visible-lg-inline-block">
                                            <button onclick="dohelp()" class="btn btn-default"> <i class="fa fa-question-circle-o"></i> @Html.L("Help") </button>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 text-align-right visible-lg-inline-block">
                                        <div class="btn-group btn-group-sm">
                                            <button onclick="window.history.back()" class="btn btn-sm btn-success"> <i class="fa fa-chevron-left"></i> @Html.L("GoBack") </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="alert alert-warning no-margin fade in">
                                <button class="close" data-dismiss="alert">
                                    ×
                                </button>
                                <i class="fa-fw fa fa-info"></i>
                                注意事项:
                            </div>
	                        <!--begin datagrid-content -->
	                        <div class="table-responsive">
		                         <table id="shiporderdetails_datagrid">  
		                         </table>
                    		</div>
		                    <!--end datagrid-content -->
                         </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
	<!-- file upload partial view -->
    <!-- RenderPartial() does exactly the same thing and is better for performance over Partial() -->
	@{ Html.RenderPartial("_ImportWindow",new ViewDataDictionary {{ "EntityName","SHIPORDERDETAIL" }}); }		 
	<!-- end file upload partial view -->
    <!-- detail popup window -->
    @{ Html.RenderPartial("_PopupDetailFormView",new WebApp.Models.SHIPORDERDETAIL()); }
    <!-- end detail popup window -->
            
</div>
<!-- END MAIN CONTENT -->

@section Scripts {
<script type="text/javascript">
      //是否启用弹窗口模式新增编辑数据
      const POPUPMODE = true;
      //是否强制从后台取值
      const REQUIRBACKEND = false;
      //是否开启行内编辑
      const EDITINLINE = false;
      //上传导入参数设定
      const entityname = "SHIPORDERDETAIL";
      var shiporderdetail = {};
      
      //下载Excel导入模板
      function downloadtemplate() {
          //默认模板路径存放位置
          const url = '/FileUpload/Download?file=/ExcelTemplate/SHIPORDERDETAIL.xlsx';
          $.fileDownload(url)
           .done(() => {
                    //console.log('file download a success!');
                    toastr.success('模板下载完成!');  
                })
           .fail(() => {
               $.messager.alert('失败','没有下载到导入模板[SHIPORDERDETAIL.xlsx]文件!','error'); 
            });           
       }
       //打印
       function print() {
            $dg.datagrid('print', 'DataGrid');
       }
        //打开Excel上传窗口
	   function importexcel() {
		    $('#importwindow').window('open');
	   }
	   //执行导出下载Excel
	   function exportexcel() {
				const filterRules = JSON.stringify($dg.datagrid('options').filterRules);
				//console.log(filterRules);
				$.messager.progress({ title: '正在执行导出!' });
				let formData = new FormData();
				formData.append('filterRules', filterRules);
				formData.append('sort', 'ID');
				formData.append('order', 'asc');
				$.postDownload('/SHIPORDERDETAILs/ExportExcel', formData).then(res => {
                    $.messager.progress('close');
                    toastr.success('导出成功!');
                }).catch(err => {
                    //console.log(err);
                    $.messager.progress('close');
                    $.messager.alert('失败', err.statusText, 'error');
                });

		}
        //显示帮助信息
        function dohelp() {
            toastr.info('有问题请联系管理员 <br><i class="fa fa-envelope-o" aria-hidden="true"></i> : demo@admin.com','帮助');  
        }
       var editIndex = undefined;
       //重新加载数据
	   function reload() {
			if (endEditing()) {
			    $dg.datagrid('reload');
		    }
	   }
      //关闭编辑状态
	  function endEditing() {
			if (editIndex === undefined) { 
                return true; 
            }
			if ($dg.datagrid('validateRow', editIndex)) {
				$dg.datagrid('endEdit', editIndex);
				editIndex = undefined;
                return true;
			} else {
				const invalidinput = $('input.validatebox-invalid','.datagrid');
                const fieldnames = invalidinput.map((index, item) => {
                  return $(item).attr('placeholder') || $(item).attr('id');
                });
                $.messager.alert('提示', `${Array.from(fieldnames)} 输入有误.`, 'error');
				return false;
			}
		}
    //单击列开启编辑功能
	function onClickCell(index, field) {
        shiporderdetail = $dg.datagrid('getRows')[index];
	    const _operates = ['_operate1', 'ck'];
		if (!EDITINLINE || $.inArray(field, _operates) >= 0) {
				return;
		}
		if (editIndex !== index) {
		    if (endEditing()) {
			    $dg.datagrid('selectRow', index)
				   .datagrid('beginEdit', index);
                hook = true;
                editIndex = index;
				const ed = $dg.datagrid('getEditor', { index: index, field: field });
				if (ed) {
						($(ed.target).data('textbox') ? $(ed.target).textbox('textbox') : $(ed.target)).focus();
				}
			} else {
				$dg.datagrid('selectRow', editIndex);
			}
		}
	}
    //新增记录
	async function append() {
       shiporderdetail = { SHIPORDERKEY: '00000001', 
ORDERLINENUMBER: '001', 
STATUS: '105', 
LOTTABLE3: '-', 
SKU: '-', 
SKUTYPE: '瓷砖', 
ORIGINALQTY: 0, 
SHIPPEDQTY: 0, 
UMO: 'EA', 
PACKKEY: '-', 
CASECNT: 0, 
GROSSWGT: 0, 
NETWGT: 0, 
CUBE: 0, 
CHECKEDCOST1: false, 
COST1: 0, 
CHECKEDCOST2: false, 
COST2: 0, 
CHECKEDCOST3: false, 
FLOOR: 0, 
COST3: 0, 
CHECKEDCOST4: false, 
COST4: 0, 
CHECKEDCOST5: false, 
COST5: 0, 
CHECKEDCOST6: false, 
COST6: 0, 
CHECKEDCOST7: false, 
COST7: 0, 
CHECKEDCOST8: false, 
COST8: 0, 
ORDERKEY: '00000001', 
LOTTABLE2: '-', 
FLAG1: false, 
FLAG2: false, 
REQUESTEDSHIPDATE: moment().format('YYYY-MM-DD HH:mm:ss'), 
DELIVERYDATE: moment().format('YYYY-MM-DD HH:mm:ss'), 
ACTUALSHIPDATE: null, 
ACTUALDELIVERYDATE: null, 
WHSEID: 'WHSE01', 
STORERKEY: '东鹏', 
LOTTABLE1: '-', 
TYPE: '1', 
ORIGINAL: '', 
DESTINATION: '', 
SHPTYPE: '1', 
COMPANYCODE: '000001', 
 };
        //需要后台创建对象
       if (REQUIRBACKEND) {
         shiporderdetail = await $.get('/SHIPORDERDETAILs/NewItemAsync');
       }
        if (POPUPMODE) {
           //弹出新增窗口
           opendetailwindow(shiporderdetail, 'Added');
        } else {
			if (endEditing()) {
				//对必填字段进行默认值初始化
				$dg.datagrid('insertRow', 
                              {   
                                  index: 0,
                                  row: shiporderdetail
                               });
				editIndex = 0;
				$dg.datagrid('selectRow', editIndex)
					.datagrid('beginEdit', editIndex);
                hook = true;
			}
        }
	}
    //删除编辑的行
	function removeit() {
       if (EDITINLINE) {
          if ($dg.datagrid('getChecked').length > 0) {
            deletechecked();
            return;
          }
          if (editIndex !== undefined) { 
    			$dg.datagrid('cancelEdit', editIndex)
					.datagrid('deleteRow', editIndex);
			   editIndex = undefined;
               hook = true;
           }else{
              const row = $dg.datagrid('getSelected');
              if(row){
                const rowindex = $dg.datagrid('getRowIndex', row);
                $dg.datagrid('deleteRow', rowindex);
                hook = true;
              }else{
                $.messager.alert('提示', '请选中需要删除的记录.', 'info');
              }
           }
        } else {
		   if ($dg.datagrid('getChecked').length > 0) {
              deletechecked();
           }
           else {
              $.messager.alert('提示', '请选中需要删除的记录.', 'info');
           }
        }
	}
    //删除该行
    function deleteRow(id) {
          $.messager.confirm('确认', '你确定要删除该记录?', result => {
                if (result) {
                    $.post('/SHIPORDERDETAILs/DeleteCheckedAsync', { id: [id] })
                         .done(response => {
                                if (response.success) {
                                    toastr.success('删除成功');  
                                    $dg.datagrid('uncheckAll');
                                    $dg.datagrid('reload');
                                } else {
                                    $.messager.alert('错误', response.err,'error');
                                }
                          })
                          .fail((jqXHR, textStatus, errorThrown) => {
						        $.messager.alert('异常', `${jqXHR.status}: ${jqXHR.statusText} `, 'error');
					      });
                    }
                });  
         
     }
    //删除选中的行
    function deletechecked() {
        const rows = $dg.datagrid('getChecked').filter(item=>item.ID!=null && item.ID!=0);
        if (rows.length > 0) {
            const id = rows.map(item => {
                   return item.ID;
                });
            $.messager.confirm('确认', `你确定要删除这 <span class='badge bg-color-red'>${id.length} </span> 行记录?`, result => {
                if (result) {
                    $.post('/SHIPORDERDETAILs/DeleteCheckedAsync', { id: id })
                         .done(response => {
                                if (response.success) {
                                    toastr.success('删除成功');  
                                    $dg.datagrid('uncheckAll');
                                    $dg.datagrid('reload');
                                } else {
                                    $.messager.alert('错误', response.err,'error');
                                }
                          })
                          .fail((jqXHR, textStatus, errorThrown) => {
						     $.messager.alert('异常', `${jqXHR.status}: ${jqXHR.statusText} `, 'error');
					      });
                    }
                });  
         } else {
                $.messager.alert('提示', '请先选择要删除的记录!','question');
         }
     }
    //提交保存后台数据库
	function accept() {
	  if (endEditing()) {
		if ($dg.datagrid('getChanges').length > 0) {
		  const inserted = $dg.datagrid('getChanges', 'inserted').map(item => {
          item.TrackingState = 1;
          return item;
        });
        const updated = $dg.datagrid('getChanges', 'updated').map(item => {
          item.TrackingState = 2
          return item;
        });
        const deleted = $dg.datagrid('getChanges', 'deleted').map(item => {
          item.TrackingState = 3
          return item;
        });
        //过滤已删除的重复项
        const changed = inserted.concat(updated.filter(item => {
            return !deleted.includes(item);
          })).concat(deleted);
        //console.table(changed);
		$.post('/SHIPORDERDETAILs/SaveDataAsync', {shiporderdetails:changed})
                     .done(response => {
						   //console.log(response);
						   if (response.success) {
							   toastr.success('保存成功');  
							   $dg.datagrid('acceptChanges');
							   $dg.datagrid('reload');
                               hook = false;
						   } else {
                               $.messager.alert('错误', response.err ,'error');
                           }
					    })
                      .fail((jqXHR, textStatus, errorThrown) => {
						$.messager.alert('异常', `${jqXHR.status}: ${jqXHR.statusText} `, 'error');
					  });
				}
			}
	}
	function reject() {
	    $dg.datagrid('rejectChanges');
	    editIndex = undefined;
        hook = false;
	}
	function getChanges() {
	    const rows = $dg.datagrid('getChanges');
		//console.log(rows.length + ' rows are changed!');
	}
    //弹出明细信息
	async function showDetailsWindow(id,row,index) {
        if (REQUIRBACKEND) {
			//console.log(index, row);
           shiporderdetail = await $.get('/SHIPORDERDETAILs/GetItemAsync/' + id);
        } else {
            shiporderdetail =  $dg.datagrid('getRows')[index];
        }
        opendetailwindow(shiporderdetail,'Modified');
	}

    //初始化定义datagrid
    var $dg = $('#shiporderdetails_datagrid');
    $(() => {
		 //定义datagrid结构
         $dg.datagrid({
                        rownumbers:true,
				        checkOnSelect:false,
				        selectOnCheck:false,
				        idField:'ID',
				        sortName:'ID',
				        sortOrder:'desc',
				        remoteFilter: true,
				        singleSelect: true,
                        url: '/SHIPORDERDETAILs/GetDataAsync',
				        method: 'get',
				        onClickCell: onClickCell,
				        pagination: true,
                        striped:true,
                        onBeforeLoad: function () {
                           //datagrid resize when jarvisWidgets resized.
                           const that = $(this);
                           $(window).on("resize.jarvisWidgets", () => {
                               that.datagrid('resize');
                           })
                         },
				        onSelect: function(index,row) {
                           shiporderdetail = row;
                        },
                        onBeginEdit: function (index, row) {
				         const shiporderid = $(this).datagrid('getEditor', { index: index, field: 'SHIPORDERID' });
				         $(shiporderid.target).combobox('textbox').bind('keydown', function (e) {
                           if (e.keyCode === 13) {
                             $(e.target).emulateTab();
                           }
                          });
                          
                         },
                        onEndEdit: function (index, row) {
				        const shiporderid = $(this).datagrid('getEditor', { index: index, field: 'SHIPORDERID' });
				        const shipordershiporderkey = $(shiporderid.target).combobox('getText');
						row['SHIPORDERSHIPORDERKEY'] =  shipordershiporderkey;
                          
                         },
                         onBeforeEdit: function (index, row) {
                            row.editing = true;
                            $(this).datagrid('refreshRow', index);
                          },
                          onAfterEdit: function (index, row) {
                            row.editing = false;
                            $(this).datagrid('refreshRow', index);
                           },
                           onCancelEdit: function (index, row) {
                             row.editing = false;
                             $(this).datagrid('refreshRow', index);
                         },
                        frozenColumns: [[
                         /*开启CheckBox选择功能*/
                         { field: 'ck', checkbox: true },
                         { 
                            field: '_operate1',
                            title:'@Html.L("Command")',
                            width: 85,
                            sortable: false,
                            resizable: true,
                            formatter: function showdetailsformatter(value, row, index) {
                                        if (!row.editing) {
                                             return '<div class="btn-group">\
                                                         <button onclick="showDetailsWindow(\'' + row.ID + '\',\'' + JSON.stringify(row).replace(/\"/g, '&quot;') + '\',' + index +')" class="btn btn-default btn-xs" title="查看明细" ><i class="fa fa-pencil-square-o"></i> </button>\
                                                         <button onclick="deleteRow(\'' + row.ID + '\',\'' + JSON.stringify(row).replace(/\"/g, '&quot;') + '\',' + index +')" class="btn btn-default btn-xs" title="删除记录" ><i class="fa fa-trash-o"></i> </button>\
                                                      </div>';
                                         } else {
                                              return '<button class="btn btn-default btn-xs" disabled title="查看明细"  ><i class="fa fa-pencil-square-o"></i> </button>';
                                         }
                                     }
                          }
                        ]],
                        columns: [[
		     { /*ID*/
               field:'ID',
               title:'<span class="required">@Html.DisplayNameFor(model => model.ID)</span>', 
               width:120 ,
               sortable:true,
               resizable:true, 
               hidden:true
              },
			{    /*运单号*/
                 field:'SHIPORDERKEY', 
                 title:'<span class="required">@Html.DisplayNameFor(model => model.SHIPORDERKEY)</span>', 
                 width:130,
                 hidden:true,
                 editor:{
                          type:'textbox',
                          options:{ prompt:'@Html.DisplayNameFor(model => model.SHIPORDERKEY)',required:true, validType: 'length[0,20]' }  
                       },
                 sortable:true,
                 resizable:true 
			},
			{    /*对账单号*/
                 field:'EXTERNSHIPORDERKEY', 
                 title:'@Html.DisplayNameFor(model => model.EXTERNSHIPORDERKEY)', 
                 width:260,
                 hidden:true,
                 editor:{
                          type:'textbox',
                          options:{ prompt:'@Html.DisplayNameFor(model => model.EXTERNSHIPORDERKEY)',required:false, validType: 'length[0,50]' }  
                       },
                 sortable:true,
                 resizable:true 
			},
			{    /*行号*/
                 field:'ORDERLINENUMBER', 
                 title:'<span class="required">@Html.DisplayNameFor(model => model.ORDERLINENUMBER)</span>', 
                 width:130,
                 hidden:true,
                 editor:{
                          type:'textbox',
                          options:{ prompt:'@Html.DisplayNameFor(model => model.ORDERLINENUMBER)',required:true, validType: 'length[0,6]' }  
                       },
                 sortable:true,
                 resizable:true 
			},
			{    /*状态*/
                 field:'STATUS', 
                 title:'@Html.DisplayNameFor(model => model.STATUS)', 
                 width:130,
                 hidden:true,
                 editor:{
                          type:'textbox',
                          options:{ prompt:'@Html.DisplayNameFor(model => model.STATUS)',required:false, validType: 'length[0,3]' }  
                       },
                 sortable:true,
                 resizable:true 
			},
			{    /*客户代码*/
                 field:'SUPPLIERCODE', 
                 title:'@Html.DisplayNameFor(model => model.SUPPLIERCODE)', 
                 width:130,
                 hidden:false,
                 editor:{
                          type:'textbox',
                          options:{ prompt:'@Html.DisplayNameFor(model => model.SUPPLIERCODE)',required:false, validType: 'length[0,20]' }  
                       },
                 sortable:true,
                 resizable:true 
			},
			{    /*客户名称*/
                 field:'SUPPLIERNAME', 
                 title:'@Html.DisplayNameFor(model => model.SUPPLIERNAME)', 
                 width:260,
                 hidden:false,
                 editor:{
                          type:'textbox',
                          options:{ prompt:'@Html.DisplayNameFor(model => model.SUPPLIERNAME)',required:false, validType: 'length[0,80]' }  
                       },
                 sortable:true,
                 resizable:true 
			},
			{    /*提货地址*/
                 field:'LOTTABLE3', 
                 title:'@Html.DisplayNameFor(model => model.LOTTABLE3)', 
                 width:260,
                 hidden:false,
                 editor:{
                          type:'textbox',
                          options:{ prompt:'@Html.DisplayNameFor(model => model.LOTTABLE3)',required:false, validType: 'length[0,80]' }  
                       },
                 sortable:true,
                 resizable:true 
			},
			{    /*收货地址*/
                 field:'CONSIGNEEADDRESS', 
                 title:'@Html.DisplayNameFor(model => model.CONSIGNEEADDRESS)', 
                 width:300,
                 hidden:false,
                 editor:{
                          type:'textbox',
                          options:{ prompt:'@Html.DisplayNameFor(model => model.CONSIGNEEADDRESS)',required:false, validType: 'length[0,180]' }  
                       },
                 sortable:true,
                 resizable:true 
			},
			{    /*物料编码*/
                 field:'SKU', 
                 title:'<span class="required">@Html.DisplayNameFor(model => model.SKU)</span>', 
                 width:130,
                 hidden:false,
                 editor:{
                          type:'textbox',
                          options:{ prompt:'@Html.DisplayNameFor(model => model.SKU)',required:true, validType: 'length[6,30]' }  
                       },
                 sortable:true,
                 resizable:true 
			},
			{    /*物料类型(洁具/瓷砖)*/
                 field:'SKUTYPE', 
                 title:'<span class="required">@Html.DisplayNameFor(model => model.SKUTYPE)</span>', 
                 width:130,
                 hidden:false,
                 editor:{
                          type:'textbox',
                          options:{ prompt:'@Html.DisplayNameFor(model => model.SKUTYPE)',required:true, validType: 'length[0,10]' }  
                       },
                 sortable:true,
                 resizable:true 
			},
			{    /*物料名称*/
                 field:'SKUNAME', 
                 title:'@Html.DisplayNameFor(model => model.SKUNAME)', 
                 width:260,
                 hidden:false,
                 editor:{
                          type:'textbox',
                          options:{ prompt:'@Html.DisplayNameFor(model => model.SKUNAME)',required:false, validType: 'length[0,80]' }  
                       },
                 sortable:true,
                 resizable:true 
			},
			{    /*交货数量*/
                 field:'ORIGINALQTY', 
                 title:'<span class="required">@Html.DisplayNameFor(model => model.ORIGINALQTY)</span>', 
                 width:100, 
                 align:'right',
                 hidden:false,
                 editor:{
                        type:'numberbox',
                        options:{ prompt:'@Html.DisplayNameFor(model => model.ORIGINALQTY)',
                                  required:true, 
                                  precision:2, 
                                  validType:'decimal',
                                  
                                } 
                        },
                formatter:numberformatter,
                sortable:true,
                resizable:true 
			},
			{    /*已发运数量*/
                 field:'SHIPPEDQTY', 
                 title:'<span class="required">@Html.DisplayNameFor(model => model.SHIPPEDQTY)</span>', 
                 width:100, 
                 align:'right',
                 hidden:false,
                 editor:{
                        type:'numberbox',
                        options:{ prompt:'@Html.DisplayNameFor(model => model.SHIPPEDQTY)',
                                  required:true, 
                                  precision:2, 
                                  validType:'decimal',
                                  
                                } 
                        },
                formatter:numberformatter,
                sortable:true,
                resizable:true 
			},
			{    /*单位*/
                 field:'UMO', 
                 title:'<span class="required">@Html.DisplayNameFor(model => model.UMO)</span>', 
                 width:130,
                 hidden:true,
                 editor:{
                          type:'textbox',
                          options:{ prompt:'@Html.DisplayNameFor(model => model.UMO)',required:true, validType: 'length[0,10]' }  
                       },
                 sortable:true,
                 resizable:true 
			},
			{    /*包装*/
                 field:'PACKKEY', 
                 title:'@Html.DisplayNameFor(model => model.PACKKEY)', 
                 width:130,
                 hidden:true,
                 editor:{
                          type:'textbox',
                          options:{ prompt:'@Html.DisplayNameFor(model => model.PACKKEY)',required:false, validType: 'length[0,10]' }  
                       },
                 sortable:true,
                 resizable:true 
			},
			{    /*交货件数*/
                 field:'CASECNT', 
                 title:'<span class="required">@Html.DisplayNameFor(model => model.CASECNT)</span>', 
                 width:100, 
                 align:'right',
                 hidden:false,
                 editor:{
                        type:'numberbox',
                        options:{ prompt:'@Html.DisplayNameFor(model => model.CASECNT)',
                                  required:true, 
                                  precision:2, 
                                  validType:'decimal',
                                  
                                } 
                        },
                formatter:numberformatter,
                sortable:true,
                resizable:true 
			},
			{    /*毛重(KG)*/
                 field:'GROSSWGT', 
                 title:'<span class="required">@Html.DisplayNameFor(model => model.GROSSWGT)</span>', 
                 width:100, 
                 align:'right',
                 hidden:false,
                 editor:{
                        type:'numberbox',
                        options:{ prompt:'@Html.DisplayNameFor(model => model.GROSSWGT)',
                                  required:true, 
                                  precision:2, 
                                  validType:'decimal',
                                  
                                } 
                        },
                formatter:numberformatter,
                sortable:true,
                resizable:true 
			},
			{    /*净重(KG)*/
                 field:'NETWGT', 
                 title:'<span class="required">@Html.DisplayNameFor(model => model.NETWGT)</span>', 
                 width:100, 
                 align:'right',
                 hidden:false,
                 editor:{
                        type:'numberbox',
                        options:{ prompt:'@Html.DisplayNameFor(model => model.NETWGT)',
                                  required:true, 
                                  precision:2, 
                                  validType:'decimal',
                                  
                                } 
                        },
                formatter:numberformatter,
                sortable:true,
                resizable:true 
			},
			{    /*体积(M)*/
                 field:'CUBE', 
                 title:'<span class="required">@Html.DisplayNameFor(model => model.CUBE)</span>', 
                 width:100, 
                 align:'right',
                 hidden:false,
                 editor:{
                        type:'numberbox',
                        options:{ prompt:'@Html.DisplayNameFor(model => model.CUBE)',
                                  required:true, 
                                  precision:2, 
                                  validType:'decimal',
                                  
                                } 
                        },
                formatter:numberformatter,
                sortable:true,
                resizable:true 
			},
			{    /*备注*/
                 field:'NOTES', 
                 title:'@Html.DisplayNameFor(model => model.NOTES)', 
                 width:300,
                 hidden:false,
                 editor:{
                          type:'textbox',
                          options:{ prompt:'@Html.DisplayNameFor(model => model.NOTES)',required:false, validType: 'length[0,180]' }  
                       },
                 sortable:true,
                 resizable:true 
			},
			{    /*销售雇员*/
                 field:'SALER', 
                 title:'@Html.DisplayNameFor(model => model.SALER)', 
                 width:260,
                 hidden:true,
                 editor:{
                          type:'textbox',
                          options:{ prompt:'@Html.DisplayNameFor(model => model.SALER)',required:false, validType: 'length[0,50]' }  
                       },
                 sortable:true,
                 resizable:true 
			},
			{    /*销售组*/
                 field:'SALESORG', 
                 title:'@Html.DisplayNameFor(model => model.SALESORG)', 
                 width:260,
                 hidden:true,
                 editor:{
                          type:'textbox',
                          options:{ prompt:'@Html.DisplayNameFor(model => model.SALESORG)',required:false, validType: 'length[0,50]' }  
                       },
                 sortable:true,
                 resizable:true 
			},
			{  /*是否计算运费*/
               field:'CHECKEDCOST1', 
               title:'<span class="required">@Html.DisplayNameFor(model => model.CHECKEDCOST1)</span>', 
               width:120, 
               align:'center',
               hidden:true,
               editor:{
                      type:'booleaneditor',
                      options:{
                                 prompt:'@Html.DisplayNameFor(model => model.CHECKEDCOST1)', 
                                 required:true
                               } 
                      },
                formatter:booleanformatter,
                sortable:true, 
                resizable:true 
			},
			{    /*运费(RMB)*/
                 field:'COST1', 
                 title:'<span class="required">@Html.DisplayNameFor(model => model.COST1)</span>', 
                 width:100, 
                 align:'right',
                 hidden:true,
                 editor:{
                        type:'numberbox',
                        options:{ prompt:'@Html.DisplayNameFor(model => model.COST1)',
                                  required:true, 
                                  precision:2, 
                                  validType:'decimal',
                                  
                                } 
                        },
                formatter:numberformatter,
                sortable:true,
                resizable:true 
			},
			{  /*是否送货上门*/
               field:'CHECKEDCOST2', 
               title:'<span class="required">@Html.DisplayNameFor(model => model.CHECKEDCOST2)</span>', 
               width:120, 
               align:'center',
               hidden:false,
               editor:{
                      type:'booleaneditor',
                      options:{
                                 prompt:'@Html.DisplayNameFor(model => model.CHECKEDCOST2)', 
                                 required:true
                               } 
                      },
                formatter:booleanformatter,
                sortable:true, 
                resizable:true 
			},
			{    /*送货费(RMB)*/
                 field:'COST2', 
                 title:'<span class="required">@Html.DisplayNameFor(model => model.COST2)</span>', 
                 width:100, 
                 align:'right',
                 hidden:true,
                 editor:{
                        type:'numberbox',
                        options:{ prompt:'@Html.DisplayNameFor(model => model.COST2)',
                                  required:true, 
                                  precision:2, 
                                  validType:'decimal',
                                  
                                } 
                        },
                formatter:numberformatter,
                sortable:true,
                resizable:true 
			},
			{  /*是否上楼*/
               field:'CHECKEDCOST3', 
               title:'<span class="required">@Html.DisplayNameFor(model => model.CHECKEDCOST3)</span>', 
               width:120, 
               align:'center',
               hidden:false,
               editor:{
                      type:'booleaneditor',
                      options:{
                                 prompt:'@Html.DisplayNameFor(model => model.CHECKEDCOST3)', 
                                 required:true
                               } 
                      },
                formatter:booleanformatter,
                sortable:true, 
                resizable:true 
			},
           {     /*楼层*/
                 field:'FLOOR', 
                 title:'<span class="required">@Html.DisplayNameFor(model => model.FLOOR)</span>', 
                 width:100, 
                 align:'right',
                 hidden:true,
                 editor:{
                        type:'numberbox',
                        options:{prompt:'@Html.DisplayNameFor(model => model.FLOOR)', 
                                 required:true,
                                 validType:'integer',
                                 
                                } 
                        },
                formatter:intformatter,
                sortable:true,
                resizable:true 
			},
			{    /*搬运费(RMB)*/
                 field:'COST3', 
                 title:'<span class="required">@Html.DisplayNameFor(model => model.COST3)</span>', 
                 width:100, 
                 align:'right',
                 hidden:true,
                 editor:{
                        type:'numberbox',
                        options:{ prompt:'@Html.DisplayNameFor(model => model.COST3)',
                                  required:true, 
                                  precision:2, 
                                  validType:'decimal',
                                  
                                } 
                        },
                formatter:numberformatter,
                sortable:true,
                resizable:true 
			},
			{  /*是否加急*/
               field:'CHECKEDCOST4', 
               title:'<span class="required">@Html.DisplayNameFor(model => model.CHECKEDCOST4)</span>', 
               width:120, 
               align:'center',
               hidden:false,
               editor:{
                      type:'booleaneditor',
                      options:{
                                 prompt:'@Html.DisplayNameFor(model => model.CHECKEDCOST4)', 
                                 required:true
                               } 
                      },
                formatter:booleanformatter,
                sortable:true, 
                resizable:true 
			},
			{    /*加急费(RMB)*/
                 field:'COST4', 
                 title:'<span class="required">@Html.DisplayNameFor(model => model.COST4)</span>', 
                 width:100, 
                 align:'right',
                 hidden:true,
                 editor:{
                        type:'numberbox',
                        options:{ prompt:'@Html.DisplayNameFor(model => model.COST4)',
                                  required:true, 
                                  precision:2, 
                                  validType:'decimal',
                                  
                                } 
                        },
                formatter:numberformatter,
                sortable:true,
                resizable:true 
			},
			{  /*是否专车*/
               field:'CHECKEDCOST5', 
               title:'<span class="required">@Html.DisplayNameFor(model => model.CHECKEDCOST5)</span>', 
               width:120, 
               align:'center',
               hidden:false,
               editor:{
                      type:'booleaneditor',
                      options:{
                                 prompt:'@Html.DisplayNameFor(model => model.CHECKEDCOST5)', 
                                 required:true
                               } 
                      },
                formatter:booleanformatter,
                sortable:true, 
                resizable:true 
			},
			{    /*专车费(RMB)*/
                 field:'COST5', 
                 title:'<span class="required">@Html.DisplayNameFor(model => model.COST5)</span>', 
                 width:100, 
                 align:'right',
                 hidden:true,
                 editor:{
                        type:'numberbox',
                        options:{ prompt:'@Html.DisplayNameFor(model => model.COST5)',
                                  required:true, 
                                  precision:2, 
                                  validType:'decimal',
                                  
                                } 
                        },
                formatter:numberformatter,
                sortable:true,
                resizable:true 
			},
			{  /*是否其它服务1*/
               field:'CHECKEDCOST6', 
               title:'<span class="required">@Html.DisplayNameFor(model => model.CHECKEDCOST6)</span>', 
               width:120, 
               align:'center',
               hidden:false,
               editor:{
                      type:'booleaneditor',
                      options:{
                                 prompt:'@Html.DisplayNameFor(model => model.CHECKEDCOST6)', 
                                 required:true
                               } 
                      },
                formatter:booleanformatter,
                sortable:true, 
                resizable:true 
			},
			{    /*其它服务费1(RMB)*/
                 field:'COST6', 
                 title:'<span class="required">@Html.DisplayNameFor(model => model.COST6)</span>', 
                 width:100, 
                 align:'right',
                 hidden:true,
                 editor:{
                        type:'numberbox',
                        options:{ prompt:'@Html.DisplayNameFor(model => model.COST6)',
                                  required:true, 
                                  precision:2, 
                                  validType:'decimal',
                                  
                                } 
                        },
                formatter:numberformatter,
                sortable:true,
                resizable:true 
			},
			{  /*是否其它服务2*/
               field:'CHECKEDCOST7', 
               title:'<span class="required">@Html.DisplayNameFor(model => model.CHECKEDCOST7)</span>', 
               width:120, 
               align:'center',
               hidden:true,
               editor:{
                      type:'booleaneditor',
                      options:{
                                 prompt:'@Html.DisplayNameFor(model => model.CHECKEDCOST7)', 
                                 required:true
                               } 
                      },
                formatter:booleanformatter,
                sortable:true, 
                resizable:true 
			},
			{    /*其它服务费2(RMB)*/
                 field:'COST7', 
                 title:'<span class="required">@Html.DisplayNameFor(model => model.COST7)</span>', 
                 width:100, 
                 align:'right',
                 hidden:true,
                 editor:{
                        type:'numberbox',
                        options:{ prompt:'@Html.DisplayNameFor(model => model.COST7)',
                                  required:true, 
                                  precision:2, 
                                  validType:'decimal',
                                  
                                } 
                        },
                formatter:numberformatter,
                sortable:true,
                resizable:true 
			},
			{  /*是否其它服务3*/
               field:'CHECKEDCOST8', 
               title:'<span class="required">@Html.DisplayNameFor(model => model.CHECKEDCOST8)</span>', 
               width:120, 
               align:'center',
               hidden:true,
               editor:{
                      type:'booleaneditor',
                      options:{
                                 prompt:'@Html.DisplayNameFor(model => model.CHECKEDCOST8)', 
                                 required:true
                               } 
                      },
                formatter:booleanformatter,
                sortable:true, 
                resizable:true 
			},
			{    /*其它服务费3(RMB)*/
                 field:'COST8', 
                 title:'<span class="required">@Html.DisplayNameFor(model => model.COST8)</span>', 
                 width:100, 
                 align:'right',
                 hidden:true,
                 editor:{
                        type:'numberbox',
                        options:{ prompt:'@Html.DisplayNameFor(model => model.COST8)',
                                  required:true, 
                                  precision:2, 
                                  validType:'decimal',
                                  
                                } 
                        },
                formatter:numberformatter,
                sortable:true,
                resizable:true 
			},
			{    /*订单号*/
                 field:'ORDERKEY', 
                 title:'<span class="required">@Html.DisplayNameFor(model => model.ORDERKEY)</span>', 
                 width:130,
                 hidden:false,
                 editor:{
                          type:'textbox',
                          options:{ prompt:'@Html.DisplayNameFor(model => model.ORDERKEY)',required:true, validType: 'length[0,20]' }  
                       },
                 sortable:true,
                 resizable:true 
			},
			{    /*批次号*/
                 field:'LOTTABLE2', 
                 title:'@Html.DisplayNameFor(model => model.LOTTABLE2)', 
                 width:260,
                 hidden:false,
                 editor:{
                          type:'textbox',
                          options:{ prompt:'@Html.DisplayNameFor(model => model.LOTTABLE2)',required:false, validType: 'length[0,50]' }  
                       },
                 sortable:true,
                 resizable:true 
			},
			{    /*提货单号*/
                 field:'EXTERNORDERKEY', 
                 title:'@Html.DisplayNameFor(model => model.EXTERNORDERKEY)', 
                 width:260,
                 hidden:false,
                 editor:{
                          type:'textbox',
                          options:{ prompt:'@Html.DisplayNameFor(model => model.EXTERNORDERKEY)',required:false, validType: 'length[0,50]' }  
                       },
                 sortable:true,
                 resizable:true 
			},
			{  /*结算标志*/
               field:'FLAG1', 
               title:'<span class="required">@Html.DisplayNameFor(model => model.FLAG1)</span>', 
               width:120, 
               align:'center',
               hidden:true,
               editor:{
                      type:'booleaneditor',
                      options:{
                                 prompt:'@Html.DisplayNameFor(model => model.FLAG1)', 
                                 required:true
                               } 
                      },
                formatter:booleanformatter,
                sortable:true, 
                resizable:true 
			},
			{  /*其它标志*/
               field:'FLAG2', 
               title:'<span class="required">@Html.DisplayNameFor(model => model.FLAG2)</span>', 
               width:120, 
               align:'center',
               hidden:true,
               editor:{
                      type:'booleaneditor',
                      options:{
                                 prompt:'@Html.DisplayNameFor(model => model.FLAG2)', 
                                 required:true
                               } 
                      },
                formatter:booleanformatter,
                sortable:true, 
                resizable:true 
			},
			{    /*备注2*/
                 field:'NOTES1', 
                 title:'@Html.DisplayNameFor(model => model.NOTES1)', 
                 width:300,
                 hidden:true,
                 editor:{
                          type:'textbox',
                          options:{ prompt:'@Html.DisplayNameFor(model => model.NOTES1)',required:false, validType: 'length[0,180]' }  
                       },
                 sortable:true,
                 resizable:true 
			},
            {   /*要求配送日期*/
                field:'REQUESTEDSHIPDATE', 
                title:'@Html.DisplayNameFor(model => model.REQUESTEDSHIPDATE)', 
                width:120, 
                align:'right',
                hidden:true,
                editor:{
                      type:'datebox',
                      options:{prompt:'@Html.DisplayNameFor(model => model.REQUESTEDSHIPDATE)',required:false}  
                      },
                formatter:dateformatter, 
                sortable:true, 
                resizable:true
			} ,
            {   /*要求到货时间*/
                field:'DELIVERYDATE', 
                title:'@Html.DisplayNameFor(model => model.DELIVERYDATE)', 
                width:120, 
                align:'right',
                hidden:true,
                editor:{
                      type:'datebox',
                      options:{prompt:'@Html.DisplayNameFor(model => model.DELIVERYDATE)',required:false}  
                      },
                formatter:dateformatter, 
                sortable:true, 
                resizable:true
			} ,
            {   /*实际配送日期*/
                field:'ACTUALSHIPDATE', 
                title:'@Html.DisplayNameFor(model => model.ACTUALSHIPDATE)', 
                width:120, 
                align:'right',
                hidden:true,
                editor:{
                      type:'datebox',
                      options:{prompt:'@Html.DisplayNameFor(model => model.ACTUALSHIPDATE)',required:false}  
                      },
                formatter:dateformatter, 
                sortable:true, 
                resizable:true
			} ,
            {   /*实际到货时间*/
                field:'ACTUALDELIVERYDATE', 
                title:'@Html.DisplayNameFor(model => model.ACTUALDELIVERYDATE)', 
                width:120, 
                align:'right',
                hidden:true,
                editor:{
                      type:'datebox',
                      options:{prompt:'@Html.DisplayNameFor(model => model.ACTUALDELIVERYDATE)',required:false}  
                      },
                formatter:dateformatter, 
                sortable:true, 
                resizable:true
			} ,
			{    /*仓库号*/
                 field:'WHSEID', 
                 title:'<span class="required">@Html.DisplayNameFor(model => model.WHSEID)</span>', 
                 width:130,
                 hidden:true,
                 editor:{
                          type:'textbox',
                          options:{ prompt:'@Html.DisplayNameFor(model => model.WHSEID)',required:true, validType: 'length[0,20]' }  
                       },
                 sortable:true,
                 resizable:true 
			},
			{    /*货主*/
                 field:'STORERKEY', 
                 title:'<span class="required">@Html.DisplayNameFor(model => model.STORERKEY)</span>', 
                 width:260,
                 hidden:true,
                 editor:{
                          type:'textbox',
                          options:{ prompt:'@Html.DisplayNameFor(model => model.STORERKEY)',required:true, validType: 'length[0,50]' }  
                       },
                 sortable:true,
                 resizable:true 
			},
			{    /*上传用户*/
                 field:'LOTTABLE1', 
                 title:'@Html.DisplayNameFor(model => model.LOTTABLE1)', 
                 width:260,
                 hidden:true,
                 editor:{
                          type:'textbox',
                          options:{ prompt:'@Html.DisplayNameFor(model => model.LOTTABLE1)',required:false, validType: 'length[0,50]' }  
                       },
                 sortable:true,
                 resizable:true 
			},
			{    /*外部行项号*/
                 field:'EXTERNLINENO', 
                 title:'@Html.DisplayNameFor(model => model.EXTERNLINENO)', 
                 width:130,
                 hidden:true,
                 editor:{
                          type:'textbox',
                          options:{ prompt:'@Html.DisplayNameFor(model => model.EXTERNLINENO)',required:false, validType: 'length[0,20]' }  
                       },
                 sortable:true,
                 resizable:true 
			},
			{    /*订单类型(普通/急货/专车)*/
                 field:'TYPE', 
                 title:'@Html.DisplayNameFor(model => model.TYPE)', 
                 width:130,
                 hidden:true,
                 editor:{
                          type:'textbox',
                          options:{ prompt:'@Html.DisplayNameFor(model => model.TYPE)',required:false, validType: 'length[0,10]' }  
                       },
                 sortable:true,
                 resizable:true 
			},
			{    /*起始地*/
                 field:'ORIGINAL', 
                 title:'@Html.DisplayNameFor(model => model.ORIGINAL)', 
                 width:260,
                 hidden:true,
                 editor:{
                          type:'textbox',
                          options:{ prompt:'@Html.DisplayNameFor(model => model.ORIGINAL)',required:false, validType: 'length[0,50]' }  
                       },
                 sortable:true,
                 resizable:true 
			},
			{    /*目的地*/
                 field:'DESTINATION', 
                 title:'@Html.DisplayNameFor(model => model.DESTINATION)', 
                 width:260,
                 hidden:true,
                 editor:{
                          type:'textbox',
                          options:{ prompt:'@Html.DisplayNameFor(model => model.DESTINATION)',required:false, validType: 'length[0,50]' }  
                       },
                 sortable:true,
                 resizable:true 
			},
			{    /*运输方式(整车/零担)*/
                 field:'SHPTYPE', 
                 title:'<span class="required">@Html.DisplayNameFor(model => model.SHPTYPE)</span>', 
                 width:130,
                 hidden:true,
                 editor:{
                          type:'textbox',
                          options:{ prompt:'@Html.DisplayNameFor(model => model.SHPTYPE)',required:true, validType: 'length[0,1]' }  
                       },
                 sortable:true,
                 resizable:true 
			},
			{    /*所属公司*/
                 field:'COMPANYCODE', 
                 title:'@Html.DisplayNameFor(model => model.COMPANYCODE)', 
                 width:130,
                 hidden:true,
                 editor:{
                          type:'textbox',
                          options:{ prompt:'@Html.DisplayNameFor(model => model.COMPANYCODE)',required:false, validType: 'length[0,20]' }  
                       },
                 sortable:true,
                 resizable:true 
			},
			{    /*LOTTABLE4*/
                 field:'LOTTABLE4', 
                 title:'@Html.DisplayNameFor(model => model.LOTTABLE4)', 
                 width:260,
                 hidden:true,
                 editor:{
                          type:'textbox',
                          options:{ prompt:'@Html.DisplayNameFor(model => model.LOTTABLE4)',required:false, validType: 'length[0,50]' }  
                       },
                 sortable:true,
                 resizable:true 
			},
			{    /*LOTTABLE5*/
                 field:'LOTTABLE5', 
                 title:'@Html.DisplayNameFor(model => model.LOTTABLE5)', 
                 width:260,
                 hidden:true,
                 editor:{
                          type:'textbox',
                          options:{ prompt:'@Html.DisplayNameFor(model => model.LOTTABLE5)',required:false, validType: 'length[0,50]' }  
                       },
                 sortable:true,
                 resizable:true 
			},
			{    /*LOTTABLE6*/
                 field:'LOTTABLE6', 
                 title:'@Html.DisplayNameFor(model => model.LOTTABLE6)', 
                 width:100, 
                 align:'right',
                 hidden:true,
                 editor:{
                        type:'numberbox',
                        options:{ prompt:'@Html.DisplayNameFor(model => model.LOTTABLE6)',
                                  required:false, 
                                  precision:2, 
                                  validType:'decimal',
                                  
                                } 
                        },
                formatter:numberformatter,
                sortable:true,
                resizable:true 
			},
			{    /*LOTTABLE7*/
                 field:'LOTTABLE7', 
                 title:'@Html.DisplayNameFor(model => model.LOTTABLE7)', 
                 width:100, 
                 align:'right',
                 hidden:true,
                 editor:{
                        type:'numberbox',
                        options:{ prompt:'@Html.DisplayNameFor(model => model.LOTTABLE7)',
                                  required:false, 
                                  precision:2, 
                                  validType:'decimal',
                                  
                                } 
                        },
                formatter:numberformatter,
                sortable:true,
                resizable:true 
			},
            {   /*LOTTABLE7*/
                field:'LOTTABLE8', 
                title:'@Html.DisplayNameFor(model => model.LOTTABLE8)', 
                width:120, 
                align:'right',
                hidden:true,
                editor:{
                      type:'datebox',
                      options:{prompt:'@Html.DisplayNameFor(model => model.LOTTABLE8)',required:false}  
                      },
                formatter:dateformatter, 
                sortable:true, 
                resizable:true
			} ,
            {   /*LOTTABLE9*/
                field:'LOTTABLE9', 
                title:'@Html.DisplayNameFor(model => model.LOTTABLE9)', 
                width:120, 
                align:'right',
                hidden:true,
                editor:{
                      type:'datebox',
                      options:{prompt:'@Html.DisplayNameFor(model => model.LOTTABLE9)',required:false}  
                      },
                formatter:dateformatter, 
                sortable:true, 
                resizable:true
			} ,
			{    /*LOTTABLE10*/
                 field:'LOTTABLE10', 
                 title:'@Html.DisplayNameFor(model => model.LOTTABLE10)', 
                 width:260,
                 hidden:true,
                 editor:{
                          type:'textbox',
                          options:{ prompt:'@Html.DisplayNameFor(model => model.LOTTABLE10)',required:false, validType: 'length[0,50]' }  
                       },
                 sortable:true,
                 resizable:true 
			},
			{   /*运单ID*/
                field:'SHIPORDERID',
                title:'<span class="required">@Html.DisplayNameFor(model => model.SHIPORDERID)</span>',
                width:160, 
                sortable:true, 
                resizable:true,
                hidden:true,
                formatter:(value,row) => {
				        return row.SHIPORDERSHIPORDERKEY;
					},
			    editor:{
					    type:'combobox',
					    options:{
								prompt:'@Html.DisplayNameFor(model => model.SHIPORDERID)' ,
                                mode: 'remote',
								valueField:'ID',
								textField:'SHIPORDERKEY',
								method:'get',
								url:'/SHIPORDERDETAILs/GetSHIPORDERSAsync',
								required:true
							}
						}
			},
                 ]]
           });

           $dg.datagrid('enableFilter',[
				{   /*ID*/
					  field: 'ID',
					  type: 'numberbox',
					  op:['equal','notequal','less','lessorequal','greater','greaterorequal']
				  },
				{   /*交货数量*/
					  field: 'ORIGINALQTY',
					  type: 'numberbox',
					  op:['equal','notequal','less','lessorequal','greater','greaterorequal']
				  },
				{   /*已发运数量*/
					  field: 'SHIPPEDQTY',
					  type: 'numberbox',
					  op:['equal','notequal','less','lessorequal','greater','greaterorequal']
				  },
				{   /*交货件数*/
					  field: 'CASECNT',
					  type: 'numberbox',
					  op:['equal','notequal','less','lessorequal','greater','greaterorequal']
				  },
				{   /*毛重(KG)*/
					  field: 'GROSSWGT',
					  type: 'numberbox',
					  op:['equal','notequal','less','lessorequal','greater','greaterorequal']
				  },
				{   /*净重(KG)*/
					  field: 'NETWGT',
					  type: 'numberbox',
					  op:['equal','notequal','less','lessorequal','greater','greaterorequal']
				  },
				{   /*体积(M)*/
					  field: 'CUBE',
					  type: 'numberbox',
					  op:['equal','notequal','less','lessorequal','greater','greaterorequal']
				  },
				{   /*运费(RMB)*/
					  field: 'COST1',
					  type: 'numberbox',
					  op:['equal','notequal','less','lessorequal','greater','greaterorequal']
				  },
				{   /*送货费(RMB)*/
					  field: 'COST2',
					  type: 'numberbox',
					  op:['equal','notequal','less','lessorequal','greater','greaterorequal']
				  },
				{   /*楼层*/
					  field: 'FLOOR',
					  type: 'numberbox',
					  op:['equal','notequal','less','lessorequal','greater','greaterorequal']
				  },
				{   /*搬运费(RMB)*/
					  field: 'COST3',
					  type: 'numberbox',
					  op:['equal','notequal','less','lessorequal','greater','greaterorequal']
				  },
				{   /*加急费(RMB)*/
					  field: 'COST4',
					  type: 'numberbox',
					  op:['equal','notequal','less','lessorequal','greater','greaterorequal']
				  },
				{   /*专车费(RMB)*/
					  field: 'COST5',
					  type: 'numberbox',
					  op:['equal','notequal','less','lessorequal','greater','greaterorequal']
				  },
				{   /*其它服务费1(RMB)*/
					  field: 'COST6',
					  type: 'numberbox',
					  op:['equal','notequal','less','lessorequal','greater','greaterorequal']
				  },
				{   /*其它服务费2(RMB)*/
					  field: 'COST7',
					  type: 'numberbox',
					  op:['equal','notequal','less','lessorequal','greater','greaterorequal']
				  },
				{   /*其它服务费3(RMB)*/
					  field: 'COST8',
					  type: 'numberbox',
					  op:['equal','notequal','less','lessorequal','greater','greaterorequal']
				  },
				{   /*LOTTABLE6*/
					  field: 'LOTTABLE6',
					  type: 'numberbox',
					  op:['equal','notequal','less','lessorequal','greater','greaterorequal']
				  },
				{   /*LOTTABLE7*/
					  field: 'LOTTABLE7',
					  type: 'numberbox',
					  op:['equal','notequal','less','lessorequal','greater','greaterorequal']
				  },
				{     /*要求配送日期*/
					  field: 'REQUESTEDSHIPDATE',
					  type: 'dateRange',
					  options: {
						  onChange: value => {
							    $dg.datagrid('addFilterRule', {
									  field: 'REQUESTEDSHIPDATE',
									  op: 'between',
									  value: value
								  });
							   
							    $dg.datagrid('doFilter');
						  }
					  }
				  },
				{     /*要求到货时间*/
					  field: 'DELIVERYDATE',
					  type: 'dateRange',
					  options: {
						  onChange: value => {
							    $dg.datagrid('addFilterRule', {
									  field: 'DELIVERYDATE',
									  op: 'between',
									  value: value
								  });
							   
							    $dg.datagrid('doFilter');
						  }
					  }
				  },
				{     /*实际配送日期*/
					  field: 'ACTUALSHIPDATE',
					  type: 'dateRange',
					  options: {
						  onChange: value => {
							    $dg.datagrid('addFilterRule', {
									  field: 'ACTUALSHIPDATE',
									  op: 'between',
									  value: value
								  });
							   
							    $dg.datagrid('doFilter');
						  }
					  }
				  },
				{     /*实际到货时间*/
					  field: 'ACTUALDELIVERYDATE',
					  type: 'dateRange',
					  options: {
						  onChange: value => {
							    $dg.datagrid('addFilterRule', {
									  field: 'ACTUALDELIVERYDATE',
									  op: 'between',
									  value: value
								  });
							   
							    $dg.datagrid('doFilter');
						  }
					  }
				  },
				{     /*LOTTABLE7*/
					  field: 'LOTTABLE8',
					  type: 'dateRange',
					  options: {
						  onChange: value => {
							    $dg.datagrid('addFilterRule', {
									  field: 'LOTTABLE8',
									  op: 'between',
									  value: value
								  });
							   
							    $dg.datagrid('doFilter');
						  }
					  }
				  },
				{     /*LOTTABLE9*/
					  field: 'LOTTABLE9',
					  type: 'dateRange',
					  options: {
						  onChange: value => {
							    $dg.datagrid('addFilterRule', {
									  field: 'LOTTABLE9',
									  op: 'between',
									  value: value
								  });
							   
							    $dg.datagrid('doFilter');
						  }
					  }
				  },
				{   /*是否计算运费*/
					  field: 'CHECKEDCOST1',
					  type: 'booleanfilter'
     			 },
				{   /*是否送货上门*/
					  field: 'CHECKEDCOST2',
					  type: 'booleanfilter'
     			 },
				{   /*是否上楼*/
					  field: 'CHECKEDCOST3',
					  type: 'booleanfilter'
     			 },
				{   /*是否加急*/
					  field: 'CHECKEDCOST4',
					  type: 'booleanfilter'
     			 },
				{   /*是否专车*/
					  field: 'CHECKEDCOST5',
					  type: 'booleanfilter'
     			 },
				{   /*是否其它服务1*/
					  field: 'CHECKEDCOST6',
					  type: 'booleanfilter'
     			 },
				{   /*是否其它服务2*/
					  field: 'CHECKEDCOST7',
					  type: 'booleanfilter'
     			 },
				{   /*是否其它服务3*/
					  field: 'CHECKEDCOST8',
					  type: 'booleanfilter'
     			 },
				{   /*结算标志*/
					  field: 'FLAG1',
					  type: 'booleanfilter'
     			 },
				{   /*其它标志*/
					  field: 'FLAG2',
					  type: 'booleanfilter'
     			 },
		   {   /*运单ID*/
				 field: 'SHIPORDERID',
				 type:'combobox',
				 options:{
								valueField:'ID',
								textField:'SHIPORDERKEY',
								method:'get',
								url:'/SHIPORDERDETAILs/GetSHIPORDERSAsync',
								onChange: value => {
								if (value === '' || value === null) {
									$dg.datagrid('removeFilterRule', 'SHIPORDERID');
								} else {
									$dg.datagrid('addFilterRule', {
										field: 'SHIPORDERID',
										op: 'equal',
										value: value
								});
							}
							$dg.datagrid('doFilter');
						}
					}
		   },
		   ]);
	 });
 
</script>




 <script src="~/Scripts/plugin/jquery.fileuploader/jquery.fileuploader.dragdrop.min.js"></script>
}

 
