﻿@model WebApp.Models.FreightRule
<!-- begin master section -->
<div  class="main-form">
<!--begin freightrule form  -->
<form id="freightrule_form" method="post" novalidate="novalidate" >
@Html.AntiForgeryToken()
   @Html.HiddenFor(x=>x.Id)
 <fieldset>
 <div class="form-group form-group-sm">
      <div class="row">

        <!--起始地-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="control-label"><span class="required">@Html.DisplayNameFor(model => model.ORIGINAL)</span> </label>
			@Html.EditorFor(x => x.ORIGINAL, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.ORIGINAL) } })
      
         </div>

        <!--目的地-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="control-label"><span class="required">@Html.DisplayNameFor(model => model.DESTINATION)</span> </label>
			@Html.EditorFor(x => x.DESTINATION, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.DESTINATION) } })
      
         </div>

        <!--运输方式(整车/零担)-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="control-label"><span class="required">@Html.DisplayNameFor(model => model.SHPTYPE)</span> </label>
			@Html.EditorFor(x => x.SHPTYPE, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.SHPTYPE) } })
      
         </div>

        <!--计费方式(吨/立方/立方吨)-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="control-label"><span class="required">@Html.DisplayNameFor(model => model.CALTYPE)</span> </label>
			@Html.EditorFor(x => x.CALTYPE, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.CALTYPE) } })
      
         </div>

		<!--车辆吨位起-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="control-label"><span class="required">@Html.DisplayNameFor(model => model.CARLWT1)</span> </label>
            @Html.EditorFor(x => x.CARLWT1, new { htmlAttributes = new { @class = "form-control",@type="number", placeholder = Html.DisplayNameFor(x => x.CARLWT1) } })

        </div>

		<!--车辆吨位至-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="control-label"><span class="required">@Html.DisplayNameFor(model => model.CARLWT2)</span> </label>
            @Html.EditorFor(x => x.CARLWT2, new { htmlAttributes = new { @class = "form-control",@type="number", placeholder = Html.DisplayNameFor(x => x.CARLWT2) } })

        </div>
	   </div>
    </div>
 <div class="form-group form-group-sm">
      <div class="row">

		<!--单价-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="control-label"><span class="required">@Html.DisplayNameFor(model => model.PRICE)</span> </label>
            @Html.EditorFor(x => x.PRICE, new { htmlAttributes = new { @class = "form-control",@type="number", placeholder = Html.DisplayNameFor(x => x.PRICE) } })

        </div>

		<!--最小收费-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="control-label"><span class="required">@Html.DisplayNameFor(model => model.MINAMOUNT)</span> </label>
            @Html.EditorFor(x => x.MINAMOUNT, new { htmlAttributes = new { @class = "form-control",@type="number", placeholder = Html.DisplayNameFor(x => x.MINAMOUNT) } })

        </div>

		<!--状态-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="control-label"><span class="required">@Html.DisplayNameFor(model => model.STATUS)</span> </label>
            @Html.EditorFor(x => x.STATUS, new { htmlAttributes = new { @class = "form-control",@type="number", placeholder = Html.DisplayNameFor(x => x.STATUS) } })

        </div>

        <!--说明-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="control-label">@Html.DisplayNameFor(model => model.DESCRIPTION) </label>
			@Html.EditorFor(x => x.DESCRIPTION, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.DESCRIPTION) } })
      
         </div>

        <!--LOTTABLE1-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="control-label">@Html.DisplayNameFor(model => model.LOTTABLE1) </label>
			@Html.EditorFor(x => x.LOTTABLE1, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.LOTTABLE1) } })
      
         </div>

        <!--LOTTABLE2-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="control-label">@Html.DisplayNameFor(model => model.LOTTABLE2) </label>
			@Html.EditorFor(x => x.LOTTABLE2, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.LOTTABLE2) } })
      
         </div>
	   </div>
    </div>
 <div class="form-group form-group-sm">
      <div class="row">

		<!--LOTTABLE3-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="control-label"><span class="required">@Html.DisplayNameFor(model => model.LOTTABLE3)</span> </label>
            @Html.EditorFor(x => x.LOTTABLE3, new { htmlAttributes = new { @class = "form-control",@type="number", placeholder = Html.DisplayNameFor(x => x.LOTTABLE3) } })

        </div>
	    
   </div>
  </div>
</fieldset>
</form>
<!-- end freightrule form  -->
</div>

<!-- end master section -->
<!--========================================================================================-->

